<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather-app About</title>
    {{>headLink}}
  </head>
<body>
    <!--Nav bar-->
    {{>navbar}}

    <!--Main Header-->
    <div class="container-fluid main_header" >
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                      <figure>
                        <img src="images/my.jpg" alt="profile">
                      </figure>  
                    </div>
                    
                    <!--right side div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcomt to weather app</p>
                        <h1>I am a <span>Full stack Developer</span> Git hub page is  below</h1>
                        <a href="https://github.com/aryalbishnu" target="_blank"><button class="btn btn-outline-primary">About now</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--Footer code-->
    {{>footer}}
</body>
</html>